<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Comments</title>
</head>
<body>
    <h1>New Comments</h1>
    <form method = "post">
    <textarea name="name" cols="80" rows="10"></textarea>
    <div>
    <input type="submit" value="Comment">
    </div>
    </form>
</body>
</html>